<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.account.mapper.ShouzhiMapper">

    <resultMap id="BaseResultMap" type="com.finance.account.entity.Shouzhi">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="income" column="income" jdbcType="VARCHAR"/>
            <result property="expenses" column="expenses" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
            <result property="belong" column="belong" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,time,income,
        expenses,category,notes,
        belong
    </sql>
    <insert id="addacount">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">SELECT LAST_INSERT_ID()</selectKey>
        insert into shouzhi(time,income,expenses,category,notes,belong)
        values (#{shouzhi.time},#{shouzhi.income},#{shouzhi.expenses},#{shouzhi.category},#{shouzhi.notes},#{shouzhi.belong})
    </insert>
    <insert id="addacountNoCat">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">SELECT LAST_INSERT_ID()</selectKey>
        insert into shouzhi(time,income,expenses,category,notes,belong)
        values (#{shouzhi.time},#{shouzhi.income},#{shouzhi.expenses},"默认类别",#{shouzhi.notes},#{shouzhi.belong})
    </insert>
    <delete id="deleteSZ">
        delete
        from shouzhi
        where id = #{id}
    </delete>
    <select id="loaderData" resultType="com.finance.account.entity.Result.IndexData">
        select sum(income) as inSum,sum(expenses) as exSum
        from shouzhi
        where time > #{date}
        and time &lt; DATE_ADD(#{date}, INTERVAL 1 DAY);
    </select>
    <select id="queryAll" resultType="com.finance.account.entity.Shouzhi">
        select *
        from shouzhi
        where belong = #{name}
        order by time DESC
    </select>
    <select id="queryEx" resultType="com.finance.account.entity.Shouzhi">
        select *
        from shouzhi
        where belong =#{date[4]}
        and category = #{date[1]}
        and expenses is not null
        <if test="date[2] != null">
            and time  &gt;= #{date[2]}
            and time  &lt; (DATE_ADD(#{date[3]}, INTERVAL 1 DAY))
        </if>
    </select>
    <select id="queryIn" resultType="com.finance.account.entity.Shouzhi">
        select *
        from shouzhi
        where belong =#{date[4]}
          and category = #{date[1]}
          and income is not null
          and time  &gt;= (#{date[2]})
          and time  &lt; (DATE_ADD(#{date[3]}, INTERVAL 1 DAY))
    </select>
    <select id="queryJstDate" resultType="com.finance.account.entity.Shouzhi">
        select *
        from shouzhi
        where belong =#{date[4]}
          and time  &gt;= COALESCE(#{date[2]})
          and time  &lt; COALESCE(DATE_ADD(#{date[3]}, INTERVAL 1 DAY))
    </select>
    <select id="incomeStatis" resultType="com.finance.account.entity.Result.StatisData">
        SELECT category AS name, COUNT(*) AS value
        FROM shouzhi
        WHERE category IN (
            select category
            from in_cate
        )
        and belong = #{name}
        GROUP BY category
    </select>
    <select id="expenseStatis" resultType="com.finance.account.entity.Result.StatisData">
        SELECT category AS name, COUNT(*) AS value
        FROM shouzhi
        WHERE category IN (
            select category
            from ex_cate
        )
          and belong = #{name}
        GROUP BY category
    </select>
    <select id="exDetailStatis" resultType="com.finance.account.entity.Result.StatisData">
        select DATE_FORMAT(time, '%Y-%m') AS name,SUM(expenses) AS value
        from shouzhi
        where belong = #{name}
          and category IN (
            select category
            from ex_cate
        )
        group by DATE_FORMAT(time, '%Y-%m');
    </select>
    <select id="inDetailStatis" resultType="com.finance.account.entity.Result.StatisData">
        select DATE_FORMAT(time, '%Y-%m') AS name,SUM(income) AS value
        from shouzhi
        where belong = #{name}
          and category IN (
            select category
            from in_cate
        )
        group by DATE_FORMAT(time, '%Y-%m');
    </select>

</mapper>
